/* Estilos al Contedor */
body {
    background: rgb(0, 255, 0);
    color: #ffffff;
    height: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

p {
    display: block;
  }
  